@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');


$cw:#fff;
$sb:steelblue;
$lb:lightblue;
$muli: 'Muli',
sans-serif;

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $sb;
    color: $cw;

    font: {
        family: $muli;
        size: 1.6rem;
    }

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    background-color: rgba(black, .4);
    padding: 2rem 4rem;
    border-radius: .5rem;

    a {
        text-decoration: none;
        color: $lb;
    }
}

.btn {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    background-color: $lb;
    padding: 1.5rem;
    border: 0;
    border-radius: .5rem;
    outline: none;

    font: {
        family: $muli;
        size: 1.6rem;
    }

    &:active {
        -webkit-transform: scale(.98);
        transform: scale(.98);
    }
}

.text {
    margin-top: 3rem;
}

h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.form-control {
    position: relative;
    margin: 2rem 0 4rem;
    width: 30rem;

    input {
        background-color: transparent;
        border: none;
        border-bottom: .2rem solid $cw;
        display: block;
        width: 100%;
        padding: 1.5rem 0;
        font-size: 1.8rem;
        color: $cw;
        outline: none;
        position: relative;
        z-index: 10;

        &:focus {
            border-bottom-color: $lb;

            &+label span {
                color: $lb;
                -webkit-transform: translateY(-3rem);
                transform: translateY(-3rem);
            }
        }
    }

    label {
        position: absolute;
        top: 1.5rem;
        left: 0;

        span {
            display: inline-block;
            font-size: 1.8rem;
            min-width: .5rem;
            -webkit-transition: .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            transition: .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
    }
}