@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');


* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

.hide {
    opacity: 0;
}

body {
    font: {
        family: 'Muli', sans-serif;
        size: 1.6rem;
    }

    background: #f0f0f0;
}


h1 {
    margin: 5rem 0 3rem;
    text-align: center;
}

.faq {
    background-color: transparent;
    border: 1px solid #9fa4a8;
    border-radius: 1rem;
    margin: 2rem 0;
    padding: 3rem;
    position: relative;
    overflow: hidden;
    -webkit-transition: .3s ease;
    transition: .3s ease;

    &.active {
        background-color: white;
        -webkit-box-shadow: 0 .3rem .6rem rgba(black, .1),
            0 .3rem .6rem rgba(black, .1);
        box-shadow: 0 .3rem .6rem rgba(black, .1),
            0 .3rem .6rem rgba(black, .1);
        border-color: transparent;

        &::before,
        &::after {
            content: '\f075';
            font-family: 'Font Awesome 5 Free';
            color: #2ecc71;
            font-size: 11.2rem;
            position: absolute;
            opacity: .2;
            top: 2rem;
            right: 3rem;
            z-index: 0;
        }

        &::before {
            color: #3498db;
            top: -1rem;
            right: 0rem;
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
        }

        .faq-toggle {
            background-color: #9fa4a8;
            color: white;
        }

        .faq-text,
        .faq-toggle .fa-times {
            display: block;
        }

        .faq-toggle .fa-chevron-down {
            display: none;
        }
    }


    &-container {
        max-width: 60rem;
        margin: 0 auto;
    }

    &-title {
        margin: 0 3.5rem 0 0;
    }

    &-text {
        display: none;
        margin-top: 30px;
    }

    &-toggle {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 1.6rem;
        padding: 0;
        position: absolute;
        top: 3rem;
        right: 3rem;
        height: 3rem;
        width: 3rem;
        outline: none;
        border-radius: 50%;
        z-index: 1;

        .fa-times {
            display: none;
        }
    }
}