@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

@mixin breakpoint($screen) {
    @media(max-width: $screen){
        @content;
    }
}

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Mulish',
    sans-serif;
    font-size: 1.6rem;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
                    height: 100vh;
                    overflow: hidden;
}

.container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90vw;
    @include breakpoint(480px){
        width: 100vw;
    }
}

.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 5rem;
    color: white;
    cursor: pointer;
    -webkit-box-flex: 0.5;
        -ms-flex: 0.5;
            flex: 0.5;
            margin: 1rem;
            position: relative;
            -webkit-transition: -webkit-box-flex .7s ease-in;
            transition: -webkit-box-flex .7s ease-in;
            transition: flex .7s ease-in;
            transition: flex .7s ease-in, -webkit-box-flex .7s ease-in, -ms-flex .7s ease-in;
            h3{
                font-size: 2.4rem;
                position: absolute;
                bottom: 2rem;
                left: 2rem;
                margin: 0;
                opacity: 0;
                 font-weight: 300;
            }
            &.active{
                -webkit-box-flex: 5;
                    -ms-flex: 5;
                        flex: 5;
                        h3{
                            opacity: 1;
                            -webkit-transition: opacity .3s .4s ease-in;
                            transition: opacity .3s .4s ease-in;
                        }
            }
            &:nth-of-type(4),
            &:nth-of-type(5) {
                @include breakpoint(480px){
                    display: none;
                }
            }
}