@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


@mixin d-flex($display, $justify, $align, $direction) {
    display: $display;
    -webkit-box-pack: $justify;
    -ms-flex-pack: $justify;
    justify-content: $justify;
    -webkit-box-align: $align;
    -ms-flex-align: $align;
    align-items: $align;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: $direction;
    flex-direction: $direction;
}

@mixin ie11 {

    @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
        @content;
    }
}

@mixin breakpoint($screen-size) {
    @media(max-width: $screen-size) {
        @content;
    }
}


html {
    font-size: 62.5%;
}

.hide {
    opacity: 0;
}

body {
    background: #516dff;
    color: #fff;

    font: {
        family: 'Press Start 2P',
            cursive;
        size: 1.6rem;
    }

    margin:0;
    height: 100vh;
    -webkit-transition: opacity .5s linear;
    transition: opacity .5s linear;
    text-align: center;
    overflow: hidden;
}

a {
    color: #fff
}

h1 {
    line-height: 1.4;
}

.screen {
    @include d-flex(flex, center, center, column);
    height: 100vh;
    width: 100vw;
    -webkit-transition: margin .4s ease-out;
    transition: margin .4s ease-out;

    &.up {
        margin-top: -100vh;
    }
}

.choose-insect-btn {
    background-color: transparent;
    border: .2rem solid #fff;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    width: 15rem;
    height: 15rem;

    &:hover {
        background-color: #fff;
        color: #516dff;
    }

    &:active {
        background-color: rgba(#fff, .7);
    }

    img {
        width: 10rem;
        height: 10rem;
        -o-object-fit: contain;
        object-fit: contain;
    }
}

.insects-list {
    @include d-flex(flex, center, null, null);
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;

    li {
        margin: 1rem;
    }
}

.btn {
    border: 0;
    background-color: #fff;
    color: #516dff;
    padding: 1.5rem 2rem;

    font: {
        family: inherit;
    }

    cursor: pointer;
    outline: none;

    &:hover {
        opacity: .9;
    }
}

.game-container {
    position: relative;
}

.time,
.score {
    position: absolute;
    top: 2rem;
}

.time {
    left: 2rem;
}

.score {
    right: 2rem;
}

.message {
    line-height: 1.7;
    background-color: rgba(#000, .5);
    width: 100%;
    padding: 2rem;
    z-index: 100;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -150%);
    transform: translate(-50%, -150%);
    -webkit-transition: -webkit-transform .4s ease-in;
    transition: -webkit-transform .4s ease-in;
    transition: transform .4s ease-in;
    transition: transform .4s ease-in, -webkit-transform .4s ease-in;

    &.visible {
        -webkit-transform: translate(-50%, 150%);
        transform: translate(-50%, 150%);
        opacity: 1;
    }
}

.insect {
    @include d-flex(flex, center, center, null);
    width: 10rem;
    height: 10rem;
    position: absolute;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    cursor: pointer;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;

    &.caught {
        -webkit-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
    }

    img {
        width: 10rem;
        height: 10rem;
    }
}